/* You can add global styles to this file, and also import other style files */
.color {
    background-color: cornflowerblue;
    size: 15px;
}
footer {
    opacity: 0.75;
}
.material-icons {
    vertical-align: middle;
}